<configuration>

    <property name="HOME_LOG" value="app.log"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>


    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>archived/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100kB</maxFileSize>
            <maxHistory>50</maxHistory>
            <totalSizeCap>100Mb</totalSizeCap>
            <!--            <cleanHistoryOnStart>true</cleanHistoryOnStart>-->
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread%X{cubaApp}%X{cubaUser}] %logger - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="ru.mishkin" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>


    <logger name="ru.mishkin" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE-ROLLING"/>
    </root>

    <root level="info">
        <appender-ref ref="FILE-ROLLING"/>
    </root>

</configuration>

